* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black !important;
  font-family: "Poppins" !important;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Godber";
  src: url("assets/fonts/godber-font/godber-3lxoz.ttf");
}

@font-face {
  font-family: "SUSE";
  src: url("assets/fonts/SUSE/static/SUSE-ExtraBold.ttf");
}
:root {
  --base-100: #fafaf0;
  --base-200: #deded5;
  --base-300: #0f0f0f;

  --solar-flare-1: #e8003a;
  --solar-flare-2: #ffaa00;

  --dusk-1: #2b00ff;
  --dusk-2: #ff5cba;

  --dusk-1-translucent: #2b00ff8d;
  --dusk-2-translucent: #ff5cbb92;


  --toxic-green: #00ff89;
  --metallic-silver: #c0c0c0;
  --alpine-blue: #0090ff;
  --bwt-pink: #ff4db8;
  --audi-red: #bb0830;
}

body {
  background: var(--base-200);
}

.circle {
  filter: blur(350px);
}

body.home {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #000;
  width: calc(30px * var(--size));
  height: calc(30px * var(--size));
  top: calc(30px * var(--size));
  left: calc(30px * var(--size));
  z-index: -2;
  overflow: hidden;
}

h1 {
  font-size: 1.25rem;
  letter-spacing: -0.1rem;
  font-family: "SUSE" !important;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.075rem;
}

p {
  font-size: 0.95rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  position: absolute;
  z-index: 3;
}
nav ul,
nav .navbar-brand,
nav button {
  background: linear-gradient(135deg, var(--base-200), var(--metallic-silver));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 3px solid var(--dusk-2);
  padding: 5px 15px;
  box-shadow: inset rgba(82, 80, 80, 0.167) 5px 5px 5px;
  border-radius: 5px; /* Adjust value as needed */
}

nav ul {
  margin: 5px 0;
}
nav ul li {
  padding: 2px 15px;
}

nav button {
  border: none;
  border: 3px solid var(--dusk-2);
  font-size: 0.3em;
  color: var(--base-100) !important;
  border-radius: 5px !important; /* Adjust value as needed */
}

nav .actions {
  margin: 2px 15px;
}

.navbar a {
  font-weight: bolder;
  color: var(--base-100) !important;
}
.hero-img img {
  clip-path: url(#smoothBox);
}

.hero-img {
  position: relative;
  overflow: visible;
}
.hero-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    45deg,
    /* diagonal stripes */ #e63946 0 20px,
    /* red stripe */ transparent 20px 40px /* white stripe */
  );
  z-index: -1; /* behind the image */
  transform: translate(-2%, -2%);
  width: 30%;
  height: 30%;
  top: -2px;
  left: -2px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spotlight {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  /* overflow: hidden; */
  top: -2rem;
}
.spotlight .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.spotlight .row .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotlight .card {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--base-200);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body.home {
  height: 100vh;
  /* overflow: hidden; */
}

.hero,
.outro {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: var(--base-200);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero h1,
.outro h1 {
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-text-fill-color: var(--bwt-pink);
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}

.hero .card, .hero .contact-links{
  position: absolute;
  bottom: calc(30px * var(--position));
  width: 100%;
}

.hero .card {
  padding: 2rem;
  background-color: var(--dusk-2-translucent);
  top: 20% !important;
  border-radius: 1rem;
  height: 50%;
}

.hero .contact-links {
  padding: 2rem;
  background-color:  var(--dusk-1-translucent);
  border-radius: 1rem;
  z-index: 5;
  height: 40%;
}


.hero .contact-links p, .hero .card span {
  font-size: 1rem;
  font-weight: 900;
  color: var(--base-100) !important;
}

.hero .contact-links p i {
  margin-right: 1rem;
  font-weight: 900 ;
  font-size: 2rem;
}


li .nav-link.active{
  background: var(--dusk-1) !important;
  border-radius: 5px;
  border: 3px solid var(--bwt-pink);
  padding-left: 10px !important;
}


.navbar-toggler{
  background:transparent;
  }

@media (min-width: 768px) {
  h1,
  h2 {
    letter-spacing: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .spotlight {
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden !important;
  }

  .spotlight .card {
    width: 75%;
  }
  .spotlight .row {
    flex-direction: row;
  }

  body.home {
    overflow: hidden;
  }

  .img {
    width: 70%;
  }

  nav ul {
    width: 90%;
    justify-content: end;
  }

  nav .navbar-nav {
    width: 95%;
  }

  nav.navbar {
    margin: 2rem 3rem;
  }

  .circle {
    width: calc(200px * var(--size));
    height: calc(200px * var(--size));
    top: calc(30px * var(--size));
    left: calc(30px * var(--size));
    z-index: -2;
    overflow: hidden;
  }

  .hero, .outro{
    flex-direction: row;
  }
  .hero h1,
.outro h1 {
  font-size: 10rem;
  text-transform: uppercase;
}

.hero .card{
  width: 30%;
  right: 5%;
}

.hero .card, .hero .contact-links{
  display: flex;
  justify-content: space-between;
}
}
