@font-face {
  font-family: 'SUSE-ExtraBold';
  src: url('/assets/fonts/SUSE/static/SUSE-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Great-Vibes';
  src: url('/fonts/Great_Vibes/GreatVibes-Regular.ttf');
}

*{
  margin: 0; padding: 0;
  font-family: var(--poppins-regular) !important;
}

:root{
  --poppins-regular: 'Poppins-Regular';
  --suse-extra-bold: 'SUSE-ExtraBold';
  --great-vibes: 'Great-Vibes';
  --text-animation:changeTextSize 3s  forwards;
  --text-transform-origin: center center;

  --shadowy-text: rgba(255, 254, 251, 0.799);
  /* --shadowy-text: repeating-linear-gradient(90deg, rgba(208, 84, 7, 0.567), rgba(0, 0, 0, 0.8), rgba(234, 13, 94, 0.567)); */
  --shadowy-text-blur: blur(1px);
  
}

.glossy-text {
  font-size: 3rem;
  font-weight: bold;
  background: var(--shadowy-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  position: relative;
}

main{
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000;
  /* background: url('/assets/images/IMG-20251005-WA0029.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50%;
  /* width: 100%; */
  /* background: linear-gradient(180deg, rgb(195, 190, 190) 50%, rgb(152, 226, 5) 70% ); */
}

.container{
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
}

.container::after{
  content: '';
  position: absolute;
  top: 0;left: 0;
  /* backdrop-filter: blur(px); */
  height: 100%; width: 100%;
  background: rgba(0, 0, 0, 0.279);
  z-index: 10;
}

.poster-image{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; right: 0;
  background: url(/assets/images/IMG-20251005-WA0029.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}

.hero{
  perspective: 1000px;
  transform-style: preserve-3d;
}

.hero .hero-text{
  /* line-height: 5vh; */
  color: white;
  font-weight: bolder;
  position: absolute;
  z-index: 11 !important;
  padding: 5%;
  text-align: left;
  background-blend-mode: overlay;
  transform: skew(2.5deg, .5deg);
  mix-blend-mode: overlay;
  animation: changeTextSize 2s forwards;

}

.hero .hero-text::after{
  content: '';
  background: linear-gradient(180deg, #022b4799, transparent);
  left: 0; top: -10px;
  height: 300%; width: 100%;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 1;
  animation: changeTextSize 500ms forwards;

}


.hero .hero-text span{
  color: var(--shadowy-text);
  text-shadow: 20px 4px 8px rgba(0, 0, 0, .2);
  animation: changeTextSize 5s forwards;
}

.big-shadowy-text{
  font-family: var(--suse-extra-bold) !important;
  font-size: 20vw;
  /* font-weight: bolder; */
  line-height: 35px;
  text-transform: uppercase;
  padding: 0; margin: 0;
}

.glass-text{
  position: absolute;
  color: white;
  font-weight: bolder;
  /* font-size: larger; */
  height: fit-content;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: right;
/* align-items: center; */
  background: rgb(15 11 11 / 43%);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  z-index: 3;
  text-align: right;
  bottom: 0;
  margin: 20px;

}
/*  */

@media (min-width:400px) {
  .container{
    min-width: 400px;
    transform-style: preserve-3d;
  }

  .hero-text .big-shadowy-text{
    font-size: 20vw;
  }
  .big-shadowy-text{
  font-size: 10vw;
  }
  .poster-image{
    width: 100%;
  }

  .hero-text{
    line-height: 40px;
    /* perspective: 1000px; */
    transform-style: preserve-3d;
    /* background: #000; */
    /* transform: rotateY(.5deg); */
    width: fit-content;
    /* z-index: 1000; */
    /* height: fit-content; */
  }

  .hero-text .big-shadowy-text{
    /* transform: rotateX(40deg) !important; */
    text-shadow: -20px 4px 8px rgba(0, 0, 0, .5);
    /* background: #000; */
  }

  .glass-text{
    /* bottom: ; */
    /* width: auto; */
    height: fit-content;
    width: fit-content;
    line-height: 25px;
    right: 0;
    padding: 5px;
    margin: 0;
    /* padding: 30px; */
    /* text-align: center; */
    top: 70%; left: 30%;
  }
}

@media (min-width:500px) {
  
}

@media (min-width:768px) {
  .container{
    min-width: 768px;
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
    /* z-index: 1 !important; */
  }

  .hero-text{
    line-height: 70px;
  }

  .hero-text::after{
    content: unset !important;
    background: unset;
  }

  .hero-text .big-shadowy-text{
    font-size: 15vw;
  }
  .poster-image{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    left: 0; bottom: unset;
    margin: 1%;
    z-index: 11;
  }

  .poster-image::after{
    content: 'Marcus Lebanon Elioma';
    position: absolute;
    bottom: 0; right: 0;
    padding: 5px; border-radius: 5px;
    height: 5%; background: white;
  }

  .hero-text, 
  .glass-text{
    left: unset;
    /* right: 0 !important; */
    text-align: right !important;
  }

}

@keyframes changeTextSize {
  from{
    /* font-size: 70vw; */
    transform: translateY(100%) translateX(100%) scale(5);
    opacity: 0;
  } 
  
  to{
    transform: translateX(0) scale(1) skewX(initial);
  }
}